/**
 * Generic styles
 */

body {
	background-color: #efefef;
	color: #333;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0.5em;
	margin-bottom: 0.75em;
}

#app {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hide {
	display: none;
}

/**
 * Search
 */

#search-wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

/**
 * Forecast
 */

#forecast {
	text-align: center;
	max-width: 90vw;
	width: 50vmax;
}

#forecast #location {
	font-size: 1.2em;
	text-transform: uppercase;
}

#forecast #country {
	background-color: #ddd;
	padding: 0.25rem 0.5rem;
}

#forecast .temp {
	font-size: 2em;
}

#forecast .wind {
	font-size: 1.5em;
}

#forecast ul.conditions {
	display: flex;
	list-style: none;
	justify-content: center;
	margin-bottom: 1.5rem;
	padding: 0;
}
#forecast ul.conditions li {
	flex: 0;
}
