html {
	font-size: 1.25em;
}

body {
	color: #333;
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
}

#top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#cheat {
	position: absolute;
	bottom: 1rem;
	right: 1.5rem;
}

#formGuess label {
	margin-bottom: 0.25rem;
}
